# Local files
.vscode/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

# Cached files
**/__pycache__/
*.py[cod]

# Setup files
**/cassandra.egg-info/

# Virtual environments
/venv
/env

# Environment variables
.env
